<h1>ブログ一覧</h1>
<p><%= notice %></p>
<%= link_to '新しくブログを投稿する', new_blog_path ,class:'btn btn-primary' %>
<table>
  <% @blogs.each do |blog| %>
    <div>タイトル</div>
    <p><%= blog.title %></p>
    <div>投稿者</div>
    <p><%= blog.user.name%></p>
    <div>内容</div>
    <p><%= blog.content %></p>

    <p><%= image_tag blog.picture.url if blog.picture.present? %></p>
    <%= link_to '詳細', blog_path(blog.id),class:'btn btn-primary' %>
    <% if current_user.id == blog.user_id %>
      <%= link_to '編集', edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' },class:'btn btn-primary' %>
      <%= link_to '削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' },class:'btn btn-primary' %>
    <% end %>
    <p class='gap'></p>
  <% end %>
</table>
