<%= form_with(model: @user, local: true ) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p class= center_tag>
  <%= form.label :name %>
  <%= form.text_field :name %>
  </p>
  <p class= center_tag>
  <%= form.label :email %>
  <%= form.email_field :email %>
  </p>
  <p class= center_tag>
  <%= form.label :password %>
  <%= form.password_field :password %>
  </p>
  <p class= center_tag>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  </p>
  <p class= center_tag>
  <%= form.label :image %>
  <%= form.file_field :image %>
  </p>
  <p class= center_tag>
  <%= form.submit %>
  </p>
<% end %>
