<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p>
  <strong>画像</strong>
  <%= image_tag @user.image.url if @user.image.present? %>
</p>
<%= link_to "プロフィールを編集する", edit_user_path(@user.id) %>
<%= link_to "お気に入り一覧", favorite_path(@user.id) %>
