<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h1>InstagramClone</h1>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user.id), class:'btn btn-primary' %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete ,class:'btn btn-primary' %>
      <%= link_to "index", blogs_path(current_user.id),class:'btn btn-primary'%>
    <% else %>
      <%= link_to "Sign up", new_user_path,class:'btn btn-primary' %>
      <%= link_to "Login", new_session_path ,class:'btn btn-primary'%>
    <% end %>
    </header>
    <%= yield %>
    <footer>
      <p><span>2020 </span><a class="transition">InstagramClone</a> First hand in 2020/2/22 </p>
    </footer>
  </body>

</html>
